<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th>Creado</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of items | orderItems">
              <td>{{ item.description }}</td>
              <td>{{ item.amount}}</td>
              <td>
                <i class="fa" [ngClass]="{'fa-arrow-up text-success': (item.type === 'input'),
                                  'fa-arrow-down text-danger': (item.type === 'output')}"></i>
                <span [ngClass]="{'text-success': (item.type === 'input'),
                                'text-danger': (item.type === 'output') }">
                  {{ (item.type === 'input' ? 'Entrada' : 'Salida') }}
                </span>
              </td>
              <td>{{ item.createAt | date }}</td>
              <td>
                <button (click)="deleteItem(item)"
                type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
              </td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>